#west-content a {
	text-decoration:none;
}
#west-content a:hover {
	text-decoration:underline;
}
#west {
	width:280px;
}
#center {
	width:640px;
}
#adsense-top {
	margin: 10px 0 10px 0;
}
#west-content {
	font-family:arial, sans-serif;
}
#center-content {
	font-family:arial, sans-serif;
	margin:0 0 0 10px;
	color:#777777;
}
#center-content h2 {
	font-size:16px;
	text-align:center;
}
#description {
	color:#777777;
	text-align:justify;
}
#description em {
	font-style:italic;
	font-weight:bold;
}
#description p {
	margin: 2px 0 8px 0;
}
#change-log{
	padding:20px 0 0 20px;
}
#change-log ul {
	margin: 8px 0 0 1em;
	list-style:disc outside;
	text-align:justify;
}
/*.x-small-editor .x-form-text {
    height:14px !important;
}*/
/* eof */

