<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
	http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd">
	<bean id="environmentVariablesConfiguration" class="org.jasypt.encryption.pbe.config.SimpleStringPBEConfig">
		<property name="algorithm" value="PBEWithMD5AndDES" />
		<property name="password" value="APP_ENCRYPTION_PASSWORD" />
	</bean>
	<bean id="configurationEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
		<property name="config" ref="environmentVariablesConfiguration" />
	</bean>
	<bean id="propertyConfigurer" class="org.jasypt.spring31.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="configurationEncryptor" />
		<property name="locations">
			<list>
				<value>/WEB-INF/application.properties</value>
			</list>
		</property>
	</bean>
	<bean id="contextApplicationContextProvider" class="com.sharifpro.util.SharifProApplicationContext"></bean> 

	<bean id="EURBDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${application.jdbc.driver}" />
		<property name="url" value="${application.jdbc.url}" />
		<property name="username" value="${application.jdbc.username}" />
		<property name="password" value="${application.jdbc.password}" />
		<property name="maxIdle" value="${application.jdbc.maxIdle}" />
		<property name="maxActive" value="${application.jdbc.maxActive}" />
	</bean>
	
	<bean id="userDetailsService" class="com.sharifpro.eurb.management.security.dao.impl.UserDetailsServiceImpl">
		<property name="dataSource" ref="EURBDataSource"/>
		<property name="enableGroups" value="true"/>
		<property name="enableAuthorities" value="true"/>
	</bean>
	
	<!--bean class="org.springframework.security.authentication.dao.ReflectionSaltSource" id="saltSource">
			<property name="userPropertyToUse" value="username"/>
		</bean-->

	<bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder" />
    
	<!-- Start Authentication/Auhorization Config -->
	<!--
		Enable security, let the authenticationEntryPoint handle all intercepted urls.
		The CAS_FILTER needs to be in the right position within the filter chain.
	-->
	<security:http pattern="/resources-${application.version}/**" security="none" />
	<security:http pattern="/ws/**" security="none" />
	<security:http use-expressions="true" entry-point-ref="authenticationEntryPoint" auto-config="false" authentication-manager-ref="authManager">
		<security:intercept-url pattern="/403.spy*" access="isAuthenticated()"/>
		<security:intercept-url pattern="/404.spy*" access="isAuthenticated()"/>
		<security:intercept-url pattern="/**" access="isAuthenticated()" />
		<security:custom-filter position="CAS_FILTER" ref="casAuthenticationFilter"></security:custom-filter>
		<security:custom-filter position="CONCURRENT_SESSION_FILTER" ref="concurrencyFilter" />
		<security:custom-filter after="SESSION_MANAGEMENT_FILTER" ref="sessionRegistryFixFilter"/>
		<security:custom-filter ref="requestSingleLogoutFilter" before="LOGOUT_FILTER"/>
		<security:logout logout-url="/logout.spy" logout-success-url="/" delete-cookies="JSESSIONID"/>
		<security:custom-filter ref="singleLogoutFilter" before="CAS_FILTER"/>
		<security:session-management invalid-session-url="/" session-authentication-strategy-ref="sas">
			<!--concurrency-control max-sessions="-1" error-if-maximum-exceeded="true" session-authentication-error-url="/" /-->
		</security:session-management>
		<security:remember-me data-source-ref="EURBDataSource"/>
		<security:access-denied-handler error-page="/403.jsp"/>
	</security:http>
	<security:global-method-security secured-annotations="enabled" />

	<bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" scope="singleton" />

	<bean id="sessionRegistryFixFilter" class="com.sharifpro.util.filter.SessionRegistryFixFilter">
		<property name="sessionRegistry" ref="sessionRegistry"/>
	</bean>

	<bean id="sas" class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<constructor-arg name="sessionRegistry" ref="sessionRegistry" />
		<property name="maximumSessions" value="-1" />
	</bean>

	<bean id="concurrencyFilter" class="org.springframework.security.web.session.ConcurrentSessionFilter">
		<property name="sessionRegistry" ref="sessionRegistry" />
		<property name="expiredUrl" value="/" />
	</bean>

	<!-- This filter handles a Single Logout Request from the CAS Server -->
	<bean id="singleLogoutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter"/>
	<!-- This filter redirects to the CAS Server to signal Single Logout should be performed -->
	<bean id="requestSingleLogoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<constructor-arg value="${cas.eurb.logout.page}"/>
		<constructor-arg>
			<bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/j_spring_cas_security_logout"/>
	</bean>
	<!--
		Required for the casProcessingFilter, so define it explicitly set and
		specify an Id Even though the authManager is created by
		default when namespace based config is used.
	-->
	<security:authentication-manager alias="authManager">
		<security:authentication-provider ref="casAuthenticationProvider"></security:authentication-provider>
	</security:authentication-manager>

	<!--
		This section is used to configure CAS. The service is the
		actual redirect that will be triggered after the CAS login sequence.
	-->
	<bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
		<property name="service" value="${cas.eurb.sec.check.service}"></property>
		<property name="sendRenew" value="false"></property>
	</bean>	

	<!--
		The CAS filter handles the redirect from the CAS server and starts the ticket validation.
	-->
	<bean id="casAuthenticationFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
		<property name="authenticationManager" ref="authManager" />
		<property name="sessionAuthenticationStrategy" ref="sas" />
		<property name="authenticationSuccessHandler">
			<bean class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler" />
		</property>
	</bean>

	<!--
		The entryPoint intercepts all the CAS authentication requests.
		It redirects to the CAS loginUrl for the CAS login page.
	-->
	<bean id="authenticationEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
		<property name="loginUrl" value="${cas.server.login}"></property>
		<property name="serviceProperties" ref="serviceProperties"></property>
	</bean>

	<!--
		Handles the CAS ticket processing.
	 -->
	<bean id="casAuthenticationProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
		<property name="userDetailsService" ref="userDetailsService"></property>
		<property name="serviceProperties" ref="serviceProperties"></property>
		<property name="ticketValidator">
			<bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
				<constructor-arg index="0" value="${cas.server}"></constructor-arg>
			</bean>
		</property>
		<property name="key" value="cas"></property>
	</bean>
	<!-- Finish Authentication/Auhorization Config -->

	<tx:annotation-driven transaction-manager="txManager" />
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
		<property name="dataSource" ref="EURBDataSource" />
	</bean>
	
	<!-- Application Message Bundle -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/messages/messages" />
		<property name="cacheSeconds" value="0" />
	</bean>
	
	<!-- Scans the classpath of this application for @Components to deploy as 
		beans -->
	<context:component-scan base-package="com.sharifpro" />

	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven />

	<!-- misc -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="quartzDataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${quartz.jdbc.driver}" />
		<property name="url" value="${quartz.jdbc.url}" />
		<property name="username" value="${quartz.jdbc.username}" />
		<property name="password" value="${quartz.jdbc.password}" />
		<property name="maxIdle" value="${quartz.jdbc.maxIdle}" />
		<property name="maxActive" value="${quartz.jdbc.maxActive}" />   
	</bean>
    
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="dataSource" ref="quartzDataSource" />
		<property name="applicationContextSchedulerContextKey" value="applicationContext"/>
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.scheduler.instanceName">ReportScheduler</prop>
				<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
				<prop key="org.quartz.scheduler.skipUpdateCheck">true</prop>
				<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
				<prop key="org.quartz.threadPool.threadCount">${org.quartz.threadPool.threadCount}</prop>      
				<prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop>
				<prop key="org.quartz.jobStore.isClustered">false</prop>
				<prop key="org.quartz.jobStore.useProperties">false</prop>
				<prop key="org.quartz.jobStore.tablePrefix">QRTZ_</prop>
				<prop key="org.quartz.jobStore.driverDelegateClass">${quartz.jobStore.driverDelegateClass}</prop>
				<prop key="org.quartz.jobStore.selectWithLockSQL">${quartz.jobStore.selectWithLockSQL}</prop>
			</props>
		</property>
	</bean>
	<!-- Forwards requests to the "/" resource to the "welcome" view -->
	<mvc:view-controller path="/" view-name="index"/>

	<!-- Configures Handler Interceptors -->
	<!-- mvc:interceptors>
			<!- Changes the locale when a 'locale' request parameter is sent; e.g. /?locale=de ->
			<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
		</mvc:interceptors-->

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources/ directory -->
	<mvc:resources mapping="/resources-${application.version}/**" location="/resources/" cache-period="31556926"/>

	<!-- Saves a locale change using a cookie -->
	<!-- bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" /-->

	<!-- Application Message Bundle -->
	<!-- bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
			<property name="basename" value="/WEB-INF/messages/messages" />
			<property name="cacheSeconds" value="0" />
		</bean-->

	<bean id="mailAuthenticator" class="com.sharifpro.eurb.builder.util.SMTPAuthenticator">
		<constructor-arg index="0" value="${application.mail.username}" />
		<constructor-arg index="1" value="${application.mail.password}" />
	</bean>

	<bean id="mailSession" class="javax.mail.Session" factory-method="getInstance">
		<constructor-arg index="0">
			<props>
				<prop key="mail.smtp.host">${application.mail.smtp.host}</prop>
				<prop key="mail.smtp.auth">${application.mail.smtp.auth}</prop>
				<prop key="mail.smtp.port">${application.mail.smtp.port}</prop>
				<prop key="mail.smtp.user">${application.mail.username}</prop>
				<prop key="password">${application.mail.password}</prop>
				<prop key="mail.smtp.from">${application.mail.username}</prop>
				<prop key="mail.smtp.starttls.enable">${application.mail.smtp.starttls.enable}</prop>
				<prop key="mail.smtp.socketFactory.class">${application.mail.smtp.socketFactory.class}</prop>
				<prop key="mail.debug">${application.mail.debug}</prop>
			</props>
		</constructor-arg>
		<constructor-arg index="1" ref="mailAuthenticator" />
	</bean>
	
	<bean id="servletContext" class="org.springframework.web.context.support.ServletContextFactoryBean"/>

	<!-- MATMA WEB SERVICES -->
	<wss:binding url="/ws/UserInfoService">
		<wss:service>
			<ws:service bean="#UserInfoService"/>
		</wss:service>
	</wss:binding>

	<!-- Web service methods -->
	<bean id="UserInfoService" class="com.sharifpro.matma.ws.UserInfoServiceEndpoint">
	</bean>
</beans>